.checkout {
    background-color: white;
    display: flex;
    padding: 20px;
    height: max-content;
    justify-content: space-evenly;

}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(240, 237, 237);
}

.checkout__ad {
    width: 100%;
    /* margin-right: 20px; */
    margin-bottom: 20px;
}